.store-container {
  position: absolute;
  right: 20px;
  z-index: 1010;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  max-height: 40vh;
  background: linear-gradient(to bottom,rgb(118, 66, 28),rgb(64, 40, 15));
  border: 2px solid #D4AF37;
  overflow-y: scroll;
}

.store-header {
  position: sticky;
  z-index: 1011;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: rgb(156, 81, 27);
  border-bottom: 1px solid #D4AF37;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #D4AF37;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shop-close-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #D4AF37;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

.shop-close-button:hover {
  background: rgba(212, 175, 55, 0.3);
}

.shop-close-button svg path {
  color: #D4AF37;
}

.items-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  padding: 0 10px 10px;
}

.item-card {
  background: rgba(156, 81, 27, 0.7);
  border: 1px solid #D4AF37;
  padding: 10px;
  transition: all 0.3s ease;
}

.item-card.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.item-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #D4AF37;
}

.item-info {
  flex-grow: 1;
}

.item-info h3 {
  margin: 0;
  color:rgb(255, 222, 55);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.item-price {
  color: #FFD700;
  font-size: 18px;
}

.item-actions {
  display: flex;
  gap: 5px;
}

.buy-button, .expand-button {
  background: transparent;
  border: 1px solid #D4AF37;
  color: #D4AF37;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buy-button:hover:not(:disabled),
.expand-button:hover {
  background: rgba(212, 175, 55, 0.3);
}

.item-description {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #D4AF37;
  color: #FFD700;
  font-size: 18px;
} 